.social-alert{
    position: fixed;
    top: 40%;
    left: 10%;
    width: 80%;
    aspect-ratio: 3/1;
    background-color: #141414;
    z-index: 5;
    border: solid white;
    border-radius: 5px;
    box-shadow: 1px 5px 20px 0px rgb(15, 15, 15);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.social-container > div{
    text-align: center;
    padding-bottom: 15px;
}
.alert-close{
    position: absolute;
    right: 5px;
    bottom: 5px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 10px;
}