/** Styling for the Main Content of Page **/
.content{
    border: solid;
    display: block;
}
.intro-block{
    display: inline-flex;
    border: solid red;
    padding: 10px;
}
/** Styling for the Introduction Block **/
.intro-left, .intro-right{
    width: 50%;
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 10px;
}
.nav-item{
    display: inline-flex;
    height: 100%;
}

.h1-box{
    border: solid
}

