/** Styling for the Main Content of Page **/
.content{
    display: block;
}
.intro-block{
    display: inline-flex;
    padding: 10px;
    min-height: 600px;
}
/** Styling for the Introduction Block **/
.name-title{
    margin-top: 6px;
    color: white;
}
.intro-left, .intro-right{
    width: 50%;
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 10px;
}

.h1-box{
    border: solid;
}

/** For rotating traits text **/
.trait-list{
    display: inline;
    border: solid transparent;
}

.trait{
    position: absolute;
    display: flex;
    opacity: 0;
    color: #e6c251;
}

.trait .letter {
    transform-origin: center center 25px;
}
.trait .letter.out {
    transform: rotateX(90deg);
    transition: 0.32s cubic-bezier(0.6, 0, 0.7, 0.2);
}
.trait .letter.in {
    transition: 0.38s ease;
}
.trait .letter.behind {
    transform: rotateX(-90deg);
}