.projects{
    border: solid green;
}

.project-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid red;
}
#project-title, #project-description{
    margin: 5px;
}
#project-title{
    margin-top: 30px;
}
.project-tabs{
    position: relative;
    margin: 20px;
    width: 80%;
    box-shadow: 1px 1px 10px 0px #888888;
    display: flex;
    align-items: center;
    border-radius: 15px;
}
li{
    list-style: none;
}
.project-selection{
    flex-grow: 1;
    text-align: center;
    padding: 5px;
    z-index: 1;
}
.project-title{
    cursor: pointer;
}
.selection-overlay{
    position: absolute;
    background-color: gray;
    border-radius: 15px;
    transition-duration:0.6s;
    transition-timing-function: cubic-bezier(0.68, -0.30, 0.265, 1.30);   
}
.project-body{
    display: block;
}
.project-scene{
    align-items: center;
    border: solid pink;
    display: none;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 1em;
}
.project-card-wrapper{
    text-align: center;
    flex-basis: 30%;
    border: solid;
    display:flex;
    justify-content: center;
}
.technology-card{
    width: 100%;
    aspect-ratio: 3/4;
    background-color: gray;
    border-radius: 10px;
}
#project-break{
    width: 50%;
}