.skills{
    display: flex;
    justify-content: center;
}
.skills-background{
    display: flex;
    justify-content: center;
    width: 90%;
    margin: 20px;
    border-radius: 10px;
    background-color: #313131;
    box-shadow: 1px 1px 10px 0px black;    
}
.skills-container{
    width: 90%;
    margin: 20px;
    display: flex;
    flex-wrap: nowrap;
    max-width: 100%;
    justify-content: left;
    overflow: hidden;
}
.card-content{
    min-width: 33%;
}

.skill-title, .skill-description{
    margin: 10px;
}
.skill-title, .skill-description{
    margin: 30px;
}
.card-content{
    display: flex;
    flex-direction: column;
    align-items: center;    
}
.level-wrapper{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border-radius: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}    
.skill-circle{
    width: 80%;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.outer-circle{
    width: 80%;
    border-radius: 50%;
    aspect-ratio: 1/1;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 10px 0px rgb(5, 5, 5),
                -5px -5px 10px 0px rgb(102, 102, 102);
    background: white;
}

.inner-circle{
    width: 80%;
    border-radius: 50%;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 5px 5px 10px 0px rgb(5, 5, 5),
                inset -5px -5px 10px 0px rgb(102, 102, 102);   
    background: #313131;
}

.skill-level{
    font-size: 14px;
}

.connect{
    margin: 10px;
}

.slide-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media only screen and (max-width: 1280px) {
    .card-content{
        min-width: 50%;
    }
}
@media only screen and (max-width: 700px) {
    .card-content{
        min-width: 100%;
    }
}
