p, h1, h2, h3, h5, h5{
    font-family: sans-serif;
}

body{
    margin: 0px;
}
/** Styling for the Navigation Bar **/
.navbar{
    border: solid;
    height: 80px;
    width: 100%;
}
.nav-option, .personal-logo, .jump-links, .social-icons, .game-btn{
    display: inline;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.game-btn, .social-icons, .jump-links{
    float: right
}
.personal-logo{
    border: solid;
    height: 50px;
    width: 50px;
    margin: 10px;
}

.btn-text{
    padding: 10px;
}
#home-connect{
    margin-bottom: 40px;
}

.game-btn{
    height: 50px;
    margin: 15px 10px 0px 10px;
    border: solid 2px;
    border-color: black;
    background-color: transparent;
    color: black;
    border-radius: 10px;
}

.nav-option > img{ /** Resizing the Social Media Icons **/
    width: 30px;
    height: 30px
}
.social-icons{
    margin-top: 25px;
}
.jump-links{
    font-size: 14px;
}
.nav-option{
    margin-left: 5px;
    margin-right: 5px;
}

/** Navigation Button Animations **/
.animate{
    animation-duration: 1s;
}

.bounce:hover{
    animation-name: bounce;
    animation-iteration-count: 1;
}

.nav-option > img:hover{ /** animation for social-icons **/
    animation-name: spin;
    animation-iteration-count: 1;
}

.jiggle:hover{
    animation-name: jiggle;
    animation-iteration-count: 1;
    animation-duration: 0.3s;
}

@keyframes bounce{
    0%, 20%, 50%, 80%, 100%{
        transform: translateY(0);
    }
    40%{
        transform: translateY(-15px);
    }
    60%{
        transform: translateY(-10px);
    }
}

@keyframes spin{
    from{
        transform: rotate(0deg);
        transform-origin: center;
    }
    to{
        transform: rotate(360deg);
        transform-origin: center;
    }
}

@keyframes jiggle{
    0%, 50%, 100%{
        transform: rotate(0deg);
        transform-origin: center;
    }
    25%{
        transform: rotate(-5deg);
        transform-origin: center;
    }    
    75%{
        transform: rotate(5deg);
        transform-origin: center;
    }            
}
