.work{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.work-whiteboard{
    background-color:  #313131;
    width: 90%;
    height: calc(100%);
    box-shadow: 1px 1px 10px 0px black;
}
.work-selector{
    display: inline-flex;
    position: relative;
}
.work-overlay{
    position: absolute;
    background-color: #e6c251;
    transition-duration:0.6s;
    transition-timing-function: cubic-bezier(0.68, -0.30, 0.265, 1.30);      
}
.work-option img{
    height: 30px;
    width: 30px;
    margin: 10px 30px 10px 30px;
    cursor: pointer;
    z-index: 1;
}
.work-header{
    display: block;
    text-align: center;
}
.work-card-wrapper{
    height: 400px;
}
.work-card{
    display: none;
    margin:20px;
    height: calc(100% - 20px);
    overflow: auto;
}
.work-card::-webkit-scrollbar {
    display: none;
}
.work-name{
    text-align: center;
}

.work-date{
    font-size: 12px;
    padding: 0px;
    margin: 0px;
}
.responsibilities > .grayed{
    font-size: 1px;
    padding: 0px;
    margin: 0px;    
}

.work-role, .work-resp{
    margin-bottom: 5px;
}
.work-bullet{
    font-family: sans-serif;
    color: white;
    margin-bottom: 10px;
}
.work-list{
    display: inline-flex;
    margin: 0px;
    padding: 0px;
}